/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */

#main-content {
	background-color: #B7B1B1;
}
header {
	background-color: grey;
	color: white;
	font-size: 14px;
}
.sidebar-toggle-box, .logo{
	display: inline-block;
	color: white;
	margin-left: 10px;
	margin-top: 20px;
	height: 40px;
}
.logout {
	background-color: purple;
	color: white;
	margin-top: 8px;
	margin-right: 8px;
}
.ds {
	background-color: white;
}
.ds h3 {
	background-color: purple;
	color:white;
	padding: 8px;
	font-size: 14px;
	text-align: center;
}
.ds span, i {
	background-color: #35C9F4;
	color: white;
}

span, .details {
	display: inline-block;
}
aside {
	background-color: grey;
}